/# Experimenting with inputs.py
/# Investment Caluculator (3% Return) V1.py
/.DS_Store
/Fucntion Parameter.py
/Graph_test.py
/Savings Calculator Test
/Savings Calculator Test.py
/The Gamble (Windows Edition).py
/equity_calculator.py
/function_example.py